:root {
  --dark-color: black;
  --border-raduis: 50px;
  --light-color: white;
  --primary-color: #c3d900;
}

.navbar .title {
  font-size: 20px;
}

.topClient {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trush-icone{
  transition: 0.2s;
}
.trush-icone:hover{
  color: red;
}
.add-icone-fixed-buttom{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 0px 13px var(--primary-color);
  padding: 0.5rem 1rem;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.add-icone-fixed-buttom:hover{
  transform: translate(0px,-10px);
}
.btnAdd {
  background-color: var(--primary-color);
  text-align: center;
  border: none;
  padding: 0.7rem 5rem;
  margin-top: 1rem;
  margin-right: auto;
  border-radius: 18px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
}
.btnAdd:hover{
  background-color: var(--dark-color);
  color: var(--primary-color);
  transform: scale(1.05);
}

.btnAjouter-client {
  background-color: var(--primary-color);
  color: var(--dark-color);
  border-radius: 18px;
  padding: 1rem 4rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--dark-color);
  transition: 0.2s;
}
.btnAjouter-client:hover {
  background-color: var(--dark-color);
  color: var(--primary-color);
  transform: scale(1.05);
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: black;
  color: white;
  padding: 20px;
  padding-top: 0;
  margin: 1rem;
  border-radius: 20px;
}

.sidebar .profile {
  text-align: center;
  margin-bottom: 20px;
}

.hr-dashboard {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  box-shadow: 0px 0px 15px var(--primary-color);
  border-radius: 20px;
}

.sidebar .logo-dashboard {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar-dashboard {
  background-color: var(--dark-color);
  border-radius: 15px;
  padding: 1rem;
  width: 95%;
  justify-content: space-between;
}

.navbar-dashboard .burger-button {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.sidebar .profile img {
  border-radius: 50%;
  width: 25%;
  height: 70px;
}

.sidebar .profile p {
  margin-top: 10px;
  font-size: 16px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  padding: 0.5rem;
  transition: 0.2s;
  border-radius: 13px;
}
.sidebar ul li:hover {
  background-color: #343434;
  cursor: pointer;
}
#modal-modal-title {
  color: var(--primary-color);
}
.btn-ajouter-moniteure {
  background-color: var(--primary-color);
}
#logout-dashboard:hover {
  background-color: #380000;
}
.sidebar ul li a {
  color: white;
  font-size: 19px;
  text-decoration: none;
}

/* Link hover effects */
.sidebar ul li a:hover {
  color: #c3d900;
}

.btn-mony-dashboeard,
.btn-modify-dashboeard,
.btn-sup-dashboeard,
.btn-view-dashboeard {
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--light-color);
  border-radius: var(--border-raduis);
  padding: 0.5rem;
  margin: 0 0.2rem;
}

.btn-view-dashboeard {
  color: var(--dark-color);
}
.btn-mony-dashboeard {
  color: var(--dark-color);
}
.btn-modify-dashboeard {
  color: var(--dark-color);
}

.h2-dashboard {
  color: var(--primary-color);
}

.container-btn-action-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.btn-sup-dashboeard:hover,
.btn-view-dashboeard:hover,
.btn-modify-dashboeard:hover,
.btn-mony-dashboeard:hover {
  transform: scale(1.1);
}

.btn-sup-dashboeard:active,
.btn-view-dashboeard:active {
  transform: scale(0.95);
}
.btn-sup-dashboeard {
  color: var(--dark-color);
}
.btn-view-dashboeard {
  color: var(--dark-color);
}
.configrution-toggle-dashboard {
  font-size: 20px;
  padding: 0.5rem 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.configrution-toggle-dashboard:hover {
  color: var(--primary-color);
}

/* Content area styles */
.container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
}

.page {
  padding: 20px;
  background-color: white;
  color: black;
}

.page h1,
.page h2 {
  margin-bottom: 20px;
}

.content-aiment-dashbeard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}
.child-paiment-two {
  width: 40%;
}
.child-paiment-one {
  width: 40%;
}

/* Categorie */
.h2-categories {
  color: var(--primary-color);
}

/* Container */
.card-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #121212;
  min-height: 100vh;
}

/* Card Styling */
.moniteure-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
}
.card-moniteure {
  position: relative;
  background-color: var(--dark-color);
  color: white;
  padding: 0px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 25%;
}

.title {
  color: gray;
}

/* Icons */
.icon-group {
  position: absolute;
  top: 18px;
  right: 10px;
  display: flex;
}

.icon {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: lightblue;
}

.delete:hover {
  color: red;
}

/* Tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-container:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.title-sup {
  color: var(--primary-color);
}

#fc-dom-86{
  color: var(--dark-color);
}